@import "variables";

html {
  font-size: 100%;
  box-sizing: border-box;
  height: 100%;
}

*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Kumbh Sans', sans-serif;
  font-size: 1.125rem; //18px
  background-color: $darkcyan;
  background-image:
    url("../../images/bg-pattern-top.svg"),
    url("../../images/bg-pattern-bottom.svg");
  background-repeat: no-repeat;
  background-position: right 48vw bottom 41vh, left 50vw top 49vh;
}

.container {
  display: flex;
  min-height: 100vh;
  margin: auto;
  flex-direction: column;
}

.card {
  height: 23.5rem;
  width: 20.5rem;
  font-weight: 700;
  margin: auto;
  background-color: white;
  border-radius: 15px 15px;
  z-index: 1;
  box-shadow: 0 0 10px 10px rgb(0 0 0 / 5%);

  .card__top {
    width: 100%;
    height: 8.75rem;
    background: url("../../images/bg-pattern-card.svg");
    border-radius: 15px 15px 0 0;

    .card__picture {
      position: relative;
      top: 60%;
      left: 35%;
      width: fit-content;

      > img {
        border-radius: 50% 50%;
        border: 4px solid white;
      }
    }
  }

  .card__info {
    margin-top: 75px;
    position: relative;

    .profile-info {
      display: flex;
      justify-content: center;
      margin-bottom: 14px;

      .profile-name {
        margin-right: 10px;
      }

      .profile-age {
        color: $darkGray;
        font-weight: 400;
        display: flex;
        justify-content: space-around;
        text-align: center;
      }
    }

    .profile-city {
      text-align: center;
      color: $darkGray;
      font-weight: 400;
      font-size: 0.938rem;
      margin-bottom: 24px;
    }
  }

  .card__social-number {
    width: 100%;
    margin-top: 26px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    text-align: center;
    border-top: 1px solid $darkGray;
    padding-top: 24px;

    .number {
      margin-bottom: 6px;
    }

    .category {
      font-weight: 400;
      color: $darkGray;
      font-size: 0.75rem;
    }
  }
}
